{% block title %}
  Edit Page
{% endblock %}

<form method="post">
  {% csrf_token %}
  <div class="fieldWrapper">
    {{ form.index.errors }}
    {{ form.index.label_tag }}
    {{ form.index }}
  </div>
  <div class="fieldWrapper">
    {{ form.zine.errors }}
    {{ form.zine.label_tag }}
    {{ form.zine }}
  </div>
  <div class="fieldWrapper">
    {{ form.image.errors }}
    {{ form.image.label_tag }}
    {{ form.image }}
  </div>
  <input type="submit" value="Upload" id="upload">

  <br>
  {% if page.image.exists ==  True %}
  <h3>Image Preview</h3>
  <img src="{{ page.image.url}}">
  {% endif %}
</form>


