.ripped-border:after{
  content:" ";
  display:block;
  height: 45px;
  background-image:url('./static/ripped-edge.png');
  background-position: center;
  position:absolute;
  width:100%;
  transform: rotate(180deg);
}
.ripped-border:before{
  content:" ";
  background-position: center;
  display:block;
  width:100%;
  height: 65px;
  background-image:url('./static/ripped-edge.png');
  position:absolute;
  margin-top:-60px;
  z-index:1;
}
.text {
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}
